name: Pull Request

on:
  pull_request:

env:
  SDKMAN_JAVA_VERSION: '9.0.7-zulu'
  JAVA_VERSION: '9'

jobs:
  build:
    name: Check source format, build and unit test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
      - uses: sdkman/sdkman-action@master
        id: sdkman-java
        with:
          candidate: java
          version: $SDKMAN_JAVA_VERSION
      - uses: actions/setup-java@v1.4.3
        with:
          java-version: $JAVA_VERSION
          jdkFile: ${{ steps.sdkman-java.outputs.file }}
      - uses: actions/cache@v2.1.3
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('build.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
      - name: Check source format
        run: |
          java -version
          make -f Makefile.ci fmt
      - name: Build
        run: make -f Makefile.ci build
      - name: Unit Test
        run: make -f Makefile.ci test-unit
  integration-test:
    name: Integration test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: sdkman/sdkman-action@master
        id: sdkman-java
        with:
          candidate: java
          version: $SDKMAN_JAVA_VERSION
      - uses: actions/setup-java@v1.4.3
        with:
          java-version: $JAVA_VERSION
          jdkFile: ${{ steps.sdkman-java.outputs.file }}
      - uses: actions/cache@v2.1.3
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('build.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
      - name: Start Streamr Docker Stack
        uses: streamr-dev/streamr-docker-dev-action@v1.0.0-alpha.2
        with:
          services-to-start: 'mysql redis engine-and-editor cassandra parity-node0 parity-sidechain-node0 bridge data-union-server broker-node-storage-1 broker-node-no-storage-1 broker-node-no-storage-2 nginx smtp'
      - name: Integration Test
        run: make -f Makefile.ci test-integration

